<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<div class="main">
  <div class="title">
    <div class="title-text">
      <h1 class="aboutme">About me</h1>
      <p class="subtitle-text"></p> 
      <img class="logopic" src="/img/profilepic.jpg" alt="profile picture">  
        
      <p class="about-text">
        Hello, I'm Sarah, a veteran police officer with 24 years of experience in upholding justice and maintaining public safety. Beyond my dedication to public service, I'm a versatile individual with a wide array of interests. In addition to my law enforcement career, I've been a passionate tattooist since 2006, expressing my creativity on skin canvas. As a proud mom of a 16-year-old daughter, family is at the core of who I am. When I'm not in uniform or in the studio, you'll likely find me hitting the open road on my motorcycle or immersed in the Star Wars universe as a dedicated collector and fan. I'm also a committed volunteer hockey trainer, nurturing the skills and passion of the next generation. Now, I'm on an exciting journey to pivot my career from public service to the dynamic world of tech. Join me as I embrace new challenges in Web Application Development during my second year of a three-year Software Engineering Technology program.
      </p>
      <button class="resumebutton" onclick="window.open('/img/Sarah Resume.pdf', '_blank')">My Resume</button>    
    </div>
  </div>
</div>  

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   