<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %> 

<!-- About Page -->
  <div class="main">
    <div class="title">
      <div class="title-text">
        <h1 class="aboutme">About me</h1>
        <p class="subtitle-text"></p> 
        <img class="logopic" src="/img/profilepic.jpg" alt="profile picture">          
        <p class="about-text">
          Hello, I'm Sarah, a veteran police officer with 24 years of experience in upholding justice and maintaining public safety. Beyond my dedication to public service, I'm a versatile individual with a wide array of interests. In addition to my law enforcement career, I've been a tattooist since 2006, expressing my artistic creativity on skin. When I'm not in uniform or in the studio, you'll likely find me hitting the open road on my motorcycle or immersed in the Star Wars universe as a dedicated collector and fan. I'm also a proud mom of a 16-year-old daughter, and a committed volunteer hockey trainer for her team, helping to nurture the skills and passion of the next generation. Now, I'm on an exciting journey to pivot my career from public service to the dynamic world of tech. Join me as I embrace new challenges in Web Application Development during my second year of a three-year Software Engineering Technology program.
        </p>
        <div class="image">
          <p></p>
        </div>
        <button class="resumebutton" onclick="window.open('/img/Sarah Resume.pdf', '_blank')">My Resume</button>    
      </div>
    </div>
    <div class="quote">
      <p>It's never too late to be what you might have been.</p>
      <p class="author">-George Eliot</p>
    </div>    
  </div>  

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
   