<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %> 
  
<!-- Contact Page -->
  <div class="main">
    <div class="title">
      <div class="title-text">
        <h1>Contact me</h1>
        <p class="subtitle-text">*or fill out form below and I'll get back to you*</p>
        <p class="subtitle-text"><a href="mailto:sshield9@my.centennialcollege.ca">sshield9@my.centennialcollege.ca</a></p>
        <p class="subtitle-text"><a href="mailto:sarahshields77@hotmail.com">sarahshields77@hotmail.com</a></p>
        <p class="subtitle-text">905.999.7905</p>
      </div>
      <div class="image">
        <p></p>
      </div>
    </div>
    <div class="contact">   
      <div class="contact-container">
          <form>       
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">        
            <label for="country">Country</label>
            <select id="country" name="country">
              <option value="canada">Canada</option>
              <option value="england">England</option>
              <option value="usa">USA</option>
            </select>        
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>        
            <a href="/"><input type="button" value="Submit" /></a>            
          </form>               
      </div>
    </div> 
  </div> 
  
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
   