<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

  <div class="mycontent">
    <div class="title">
      <div class="title-text">
        <h1>Sarah Shields</h1>
        <p class="subtitle-text">Software Engineering Student</p>            
      </div>
    </div>
    <!--<div class="image">
           <p></p>-->            
            <!--<div class="quote">
                  <p>Information is not knowledge. The only source of knowledge is experience.</p>
                  <p class="author">-Albert Einstein</p>
                </div>          -->

    <!--bottom nav-->  
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   