<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<div class="main">
  <div class="title">
    <div class="content">
      <h2>My Current Services</h2>
      <div class="cards">
          <div class="card">
              <div class="content-img"><a href="https://sarahshields77.github.io/COMP125%20Assignment%20%231/assignment1.html"><img src="/img/Assign1.png" alt="pic of assign 1" width="150px" height="175px"></a></div>
              <p>COMP125 Assignment 1</p>
          </div>
          <div class="card">
              <div class="content-img"><a href="https://sarahshields77.github.io/COMP%20125%20Assignment%202/js05_txt.html"><img src="/img/Assign2.png" alt="pic of assign 2" width="150px" height="175px"></a></div>
              <p>COMP125 Assignment 2</p>
          </div>
          <div class="card">
              <div class="content-img"><a href="https://sarahshields77.github.io/COMP%20125%20Assignment%203/index.html"><img src="/img/Assign3.png" alt="pic of assign 3" width="150px" height="175px"></a></div>
              <p>COMP125 Assignment 3</p>
          </div>
          <div class="card">
              <div class="content-img"><a href="https://sarahshields77.github.io/COMP%20125%20Assignment%204/index.html"><img src="/img/Assign4.png" alt="pic of assign 4" width="150px" height="175px"></a></div>
              <p>COMP125 Assignment 4</p>
          </div>
      </div>
  </div>
  </div>
</div>
   
 
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   