<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   
<!-- Services Page -->
    <div class="main">
        <div class="title">
            <div class="content">
                <h2>My Current Services</h2>
                <div class="cards">
                    <div class="card">
                        <div class="content-img"><a href="/img/tattoo1.PNG" target="_blank"><img src="/img/tattoo1.PNG" alt="pic of clock tattoo" width="150px" height="175px"></a></div>
                        <p>Clock Face Tattoo</p>
                    </div>
                    <div class="card">
                        <div class="content-img"><a href="http://studentweb.cencol.ca/sshield9/Midterm/index.html"><img src="/img/webpage1.png" alt="pic of midterm webpage" width="150px" height="175px"></a></div>
                        <p>Webpage design</p>
                    </div>
                    <div class="card">
                        <div class="content-img"><a href="/img/painting1.png" target="_blank"><img src="/img/painting1.png" alt="watercolour painting" width="150px" height="175px"></a></div>
                        <p>Commissioned Watercolour</p>
                    </div>
                    <div class="card">
                        <div class="content-img"><a href="/img/tattoo2.png" target="_blank"><img src="/img/tattoo2.png" alt="pic of cross tattoo" width="150px" height="175px"></a></div>
                        <p>Cross Tattoo</p>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="content-img"><a href="http://studentweb.cencol.ca/sshield9/Assignment4/index.html"><img src="/img/webpage2.png" alt="pic of form webpage" width="150px" height="175px"></a></div>
                        <p>Webpage design</p>
                    </div>
                    <div class="card">
                        <div class="content-img"><a href="/img/painting2.png" target="_blank"><img src="/img/painting2.png" alt="droid watercolour" width="150px" height="175px"></a></div>
                        <p>Commissioned Watercolour</p>
                    </div>
                    <div class="card">
                        <div class="content-img"><a href="/img/tattoo3.png" target="_blank"><img src="/img/tattoo3.png" alt="paws tattoo" width="150px" height="175px"></a></div>
                        <p>Paws Tattoo</p>
                    </div>
                    <div class="card">
                        <div class="content-img"><a href="http://studentweb.cencol.ca/sshield9/Assignment3/Index.html"><img src="/img/webpage3.png" alt="pic of product webpage" width="150px" height="175px"></a></div>
                        <p>Webpage design</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
 
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   